<!-- <h2>Welcome to the test app</h2>

<p>This app is by {{ name }}</p> -->

<div id="mainWindow" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline'">

<div id="header" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">
      <span>Draw:<br /></span>
      <button data-dojo-type="dijit/form/Button" class="btn btn-info">Polygon</button>
      <button data-dojo-type="dijit/form/Button" class="btn btn-info">Freehand Polyline</button>
      <button data-dojo-type="dijit/form/Button" class="btn btn-info">Freehand Polygon</button>
      
 </div>

<div id="mapDiv" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
 <div id="editorDiv" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'"></div>
</div>